* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 50, 50);
    color: white;
    font-family: sans-serif;
}

header {
    background-color: rgb(170, 173, 3);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

header h1 {
    font-family: cursive;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-shadow: 0 0 20px white;
    cursor: pointer;
}

header h1:hover {
    color: rgb(168, 168, 168);
}

header h1 span {
    color: black;
}

.title-header {
    color: rgb(243, 247, 21);
    font-family: cursive;
    text-align: center;
    margin: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.carousel {
    height: 200px;
    margin: 40px auto;
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    width: 90%;
    /* padding: 0 10%; */
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

.group {
    display: flex;
    gap: 20px;
    align-items: center;
    animation: spin 20s infinite linear;
}

.genre-item {
    background-color: rgb(170, 173, 3);
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.genre-item:hover {
    filter: drop-shadow(0 0 10px white);
}

.games-list {
    /* background-color: rgb(33, 117, 89); */
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.figure {
    text-align: center;
    width: 22%;
    border: 2px solid rgb(170, 173, 3);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.figure img {
    width: 100%;
    margin: 10px 0;
}

.figure p:nth-of-type(1) {
    font-size: 20px;
    font-weight: bold;
}

.figure:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px 5px rgb(170, 173, 3);
}

/* ********************** */
/* ABOUT PAGE */

.about-page {
    display: flex;
    height: 90vh;
}

.about-page section {
    flex: 1;
}

.about-left {
    padding: 20px;
}

.about-left > * p {
    margin-bottom: 20px;
}

.about-right img {
    width: 80%;
    aspect-ratio: 1;
    border-radius: 30% 70% 100% 0% / 10% 0% 100% 90%;
    filter: drop-shadow(0 0 50px rgb(170, 173, 3));
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social > * {
    color: rgb(170, 173, 3);
}

.social > *:not(span) {
    font-size: 40px;
}

.social > *:hover {
    filter: drop-shadow(0 0 5px white);
}

.whatsapp-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

button {
    background-color: rgb(170, 173, 3);
    font-size: 24px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 10px 10px rgb(242, 245, 91);
}

button:disabled {
    background-color: gray;
}

button:disabled:hover {
    box-shadow: 0 0;
}

/******************************/
/* GAME PAGE */
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}

.game-content {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 50px;
}

.game-imgs {
    flex: 1;
}

.game-info {
    flex: 2;
}

.game-info h3 {
    margin-bottom: 40px;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.screenshots img {
    width: 47%;
}

.minimum {
    margin-top: 40px;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    filter: drop-shadow(0 0 10px 10px rgb(242, 245, 91));
}